# Project-1_case 1

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df=pd.read_csv('https://raw.githubusercontent.com/jackiekazil/data-wrangling/master/data/chp3/data-text.csv')
df.head(2)

,Indicator,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN

In [5]:
df.head()

,Indicator,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN

In [6]:
df1 =pd.read_csv('https://raw.githubusercontent.com/kjam/data-wrangling-pycon/master/data/berlin_weather_oldest.csv')
df1 .head(2)

,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
0,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310101,46,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310102,107,-9999,-9999,50,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [7]:
df1.head()

,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
0,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310101,46,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310102,107,-9999,-9999,50,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
2,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310103,-9999,-9999,-9999,28,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
3,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310105,13,-9999,-9999,39,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
4,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310106,-9999,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [8]:
df.info

<bound method DataFrame.info of                                             Indicator PUBLISH STATES  Year  \
0                    Life expectancy at birth (years)      Published  1990
1                    Life expectancy at birth (years)      Published  2000
2                   Life expectancy at age 60 (years)      Published  2012
3                   Life expectancy at age 60 (years)      Published  2000
4                    Life expectancy at birth (years)      Published  2012
5                    Life expectancy at birth (years)      Published  2000
6                   Life expectancy at age 60 (years)      Published  1990
7                   Life expectancy at age 60 (years)      Published  2012
8                    Life expectancy at birth (years)      Published  2012
9                    Life expectancy at birth (years)      Published  2000
10                   Life expectancy at birth (years)      Published  2012
11                   Life expectancy at birth (years)      Published  2012
12                  Life expectancy at age 60 (years)      Published  2012
13                   Life expectancy at birth (years)      Published  2012
14                   Life expectancy at birth (years)      Published  2000
15                   Life expectancy at birth (years)      Published  1990
16                  Life expectancy at age 60 (years)      Published  1990
17                   Life expectancy at birth (years)      Published  2012
18                  Life expectancy at age 60 (years)      Published  2000
19                   Life expectancy at birth (years)      Published  1990
20                  Life expectancy at age 60 (years)      Published  2012
21                  Life expectancy at age 60 (years)      Published  2012
22                  Life expectancy at age 60 (years)      Published  1990
23                  Life expectancy at age 60 (years)      Published  2000
24                  Life expectancy at age 60 (years)      Published  2012
25                   Life expectancy at birth (years)      Published  2000
26                  Life expectancy at age 60 (years)      Published  2000
27                  Life expectancy at age 60 (years)      Published  1990
28                   Life expectancy at birth (years)      Published  1990
29                   Life expectancy at birth (years)      Published  2012
...                                               ...            ...   ...
4626  Healthy life expectancy (HALE) at birth (years)      Published  2012
4627  Healthy life expectancy (HALE) at birth (years)      Published  2012
4628  Healthy life expectancy (HALE) at birth (years)      Published  2012
4629  Healthy life expectancy (HALE) at birth (years)      Published  2012
4630  Healthy life expectancy (HALE) at birth (years)      Published  2000
4631  Healthy life expectancy (HALE) at birth (years)      Published  2000
4632  Healthy life expectancy (HALE) at birth (years)      Published  2012
4633  Healthy life expectancy (HALE) at birth (years)      Published  2000
4634  Healthy life expectancy (HALE) at birth (years)      Published  2000
4635  Healthy life expectancy (HALE) at birth (years)      Published  2000
4636  Healthy life expectancy (HALE) at birth (years)      Published  2012
4637  Healthy life expectancy (HALE) at birth (years)      Published  2012
4638  Healthy life expectancy (HALE) at birth (years)      Published  2012
4639  Healthy life expectancy (HALE) at birth (years)      Published  2012
4640  Healthy life expectancy (HALE) at birth (years)      Published  2000
4641  Healthy life expectancy (HALE) at birth (years)      Published  2012
4642  Healthy life expectancy (HALE) at birth (years)      Published  2000
4643  Healthy life expectancy (HALE) at birth (years)      Published  2000
4644  Healthy life expectancy (HALE) at birth (years)      Published  2012
4645  Healthy life expectancy (HALE) at birth (years)      Published  2012
4646  Healthy life expectancy (HALE) at birth (years)      Published  2012
4647  Healthy life expectancy (HALE) at birth (years)      Published  2000
4648  Healthy life expectancy (HALE) at birth (years)      Published  2012
4649  Healthy life expectancy (HALE) at birth (years)      Published  2000
4650  Healthy life expectancy (HALE) at birth (years)      Published  2012
4651  Healthy life expectancy (HALE) at birth (years)      Published  2012
4652  Healthy life expectancy (HALE) at birth (years)      Published  2012
4653  Healthy life expectancy (HALE) at birth (years)      Published  2000
4654  Healthy life expectancy (HALE) at birth (years)      Published  2000
4655  Healthy life expectancy (HALE) at birth (years)      Published  2012

                 WHO region World Bank income group  \
0                    Europe             High-income
1                    Europe             High-income
2                    Europe             High-income
3                    Europe             High-income
4     Eastern Mediterranean             High-income
5                  Americas             High-income
6                  Americas             High-income
7                  Americas             High-income
8           Western Pacific             High-income
9           Western Pacific             High-income
10          Western Pacific             High-income
11                   Europe             High-income
12                   Europe             High-income
13                   Europe             High-income
14    Eastern Mediterranean             High-income
15    Eastern Mediterranean             High-income
16    Eastern Mediterranean             High-income
17                 Americas             High-income
18                 Americas             High-income
19                 Americas             High-income
20                 Americas             High-income
21                 Americas             High-income
22          Western Pacific             High-income
23          Western Pacific             High-income
24          Western Pacific             High-income
25                 Americas             High-income
26                 Americas             High-income
27                 Americas             High-income
28                   Europe             High-income
29                   Europe             High-income
...                     ...                     ...
4626                 Europe     Upper-middle-income
4627               Americas     Upper-middle-income
4628                 Europe             High-income
4629                 Africa     Lower-middle-income
4630                 Africa     Upper-middle-income
4631  Eastern Mediterranean     Lower-middle-income
4632                 Africa              Low-income
4633        South-East Asia     Lower-middle-income
4634        South-East Asia     Lower-middle-income
4635                 Europe              Low-income
4636                 Europe              Low-income
4637        Western Pacific     Lower-middle-income
4638               Americas             High-income
4639               Americas             High-income
4640  Eastern Mediterranean     Lower-middle-income
4641        Western Pacific     Upper-middle-income
4642                 Africa              Low-income
4643                 Europe     Lower-middle-income
4644               Americas     Upper-middle-income
4645               Americas     Upper-middle-income
4646               Americas     Upper-middle-income
4647               Americas     Upper-middle-income
4648               Americas     Upper-middle-income
4649        Western Pacific     Lower-middle-income
4650        Western Pacific     Lower-middle-income
4651        Western Pacific     Lower-middle-income
4652  Eastern Mediterranean              Low-income
4653                 Africa     Upper-middle-income
4654                 Africa              Low-income
4655                 Africa              Low-income

                                 Country         Sex  Display Value  Numeric  \
0                                Andorra  Both sexes             77     77.0
1                                Andorra  Both sexes             80     80.0
2                                Andorra      Female             28     28.0
3                                Andorra  Both sexes             23     23.0
4                   United Arab Emirates      Female             78     78.0
5                    Antigua and Barbuda        Male             72     72.0
6                    Antigua and Barbuda        Male             17     17.0
7                    Antigua and Barbuda  Both sexes             22     22.0
8                              Australia        Male             81     81.0
9                              Australia  Both sexes             80     80.0
10                             Australia  Both sexes             83     83.0
11                               Austria      Female             83     83.0
12                               Austria      Female             25     25.0
13                               Belgium      Female             83     83.0
14                               Bahrain        Male             73     73.0
15                               Bahrain      Female             74     74.0
16                               Bahrain        Male             17     17.0
17                               Bahamas        Male             72     72.0
18                               Bahamas  Both sexes             21     21.0
19                              Barbados        Male             71     71.0
20                              Barbados      Female             25     25.0
21                              Barbados  Both sexes             23     23.0
22                     Brunei Darussalam      Female             20     20.0
23                     Brunei Darussalam      Female             22     22.0
24                     Brunei Darussalam      Female             21     21.0
25                                Canada      Female             82     82.0
26                                Canada        Male             21     21.0
27                                Canada      Female             24     24.0
28                           Switzerland        Male             74     74.0
29                           Switzerland  Both sexes             83     83.0
...                                  ...         ...            ...      ...
4626                              Serbia      Female             67     67.0
4627                            Suriname  Both sexes             66     66.0
4628                              Sweden  Both sexes             72     72.0
4629                           Swaziland      Female             47     47.0
4630                          Seychelles        Male             61     61.0
4631                Syrian Arab Republic      Female             64     64.0
4632                                Chad      Female             44     44.0
4633                            Thailand        Male             59     59.0
4634                            Thailand      Female             65     65.0
4635                          Tajikistan  Both sexes             56     56.0
4636                          Tajikistan      Female             60     60.0
4637                               Tonga      Female             61     61.0
4638                 Trinidad and Tobago      Female             64     64.0
4639                 Trinidad and Tobago  Both sexes             61     61.0
4640                             Tunisia        Male             63     63.0
4641                              Tuvalu        Male             57     57.0
4642                              Uganda      Female             40     40.0
4643                             Ukraine  Both sexes             60     60.0
4644                             Uruguay        Male             65     65.0
4645                             Uruguay      Female             70     70.0
4646                             Uruguay  Both sexes             68     68.0
4647    Saint Vincent and the Grenadines  Both sexes             61     61.0
4648  Venezuela (Bolivarian Republic of)  Both sexes             66     66.0
4649                             Vanuatu        Male             59     59.0
4650                               Samoa        Male             62     62.0
4651                               Samoa      Female             66     66.0
4652                               Yemen  Both sexes             54     54.0
4653                        South Africa        Male             49     49.0
4654                              Zambia  Both sexes             36     36.0
4655                            Zimbabwe      Female             51     51.0

      Low  High  Comments
0     NaN   NaN       NaN
1     NaN   NaN       NaN
2     NaN   NaN       NaN
3     NaN   NaN       NaN
4     NaN   NaN       NaN
5     NaN   NaN       NaN
6     NaN   NaN       NaN
7     NaN   NaN       NaN
8     NaN   NaN       NaN
9     NaN   NaN       NaN
10    NaN   NaN       NaN
11    NaN   NaN       NaN
12    NaN   NaN       NaN
13    NaN   NaN       NaN
14    NaN   NaN       NaN
15    NaN   NaN       NaN
16    NaN   NaN       NaN
17    NaN   NaN       NaN
18    NaN   NaN       NaN
19    NaN   NaN       NaN
20    NaN   NaN       NaN
21    NaN   NaN       NaN
22    NaN   NaN       NaN
23    NaN   NaN       NaN
24    NaN   NaN       NaN
25    NaN   NaN       NaN
26    NaN   NaN       NaN
27    NaN   NaN       NaN
28    NaN   NaN       NaN
29    NaN   NaN       NaN
...   ...   ...       ...
4626  NaN   NaN       NaN
4627  NaN   NaN       NaN
4628  NaN   NaN       NaN
4629  NaN   NaN       NaN
4630  NaN   NaN       NaN
4631  NaN   NaN       NaN
4632  NaN   NaN       NaN
4633  NaN   NaN       NaN
4634  NaN   NaN       NaN
4635  NaN   NaN       NaN
4636  NaN   NaN       NaN
4637  NaN   NaN       NaN
4638  NaN   NaN       NaN
4639  NaN   NaN       NaN
4640  NaN   NaN       NaN
4641  NaN   NaN       NaN
4642  NaN   NaN       NaN
4643  NaN   NaN       NaN
4644  NaN   NaN       NaN
4645  NaN   NaN       NaN
4646  NaN   NaN       NaN
4647  NaN   NaN       NaN
4648  NaN   NaN       NaN
4649  NaN   NaN       NaN
4650  NaN   NaN       NaN
4651  NaN   NaN       NaN
4652  NaN   NaN       NaN
4653  NaN   NaN       NaN
4654  NaN   NaN       NaN
4655  NaN   NaN       NaN

[4656 rows x 12 columns]>

In [9]:
df1.info

<bound method DataFrame.info of                   STATION         STATION_NAME      DATE  PRCP  SNWD  SNOW  \
0       GHCND:GME00111445  BERLIN TEMPELHOF GM  19310101    46 -9999 -9999
1       GHCND:GME00111445  BERLIN TEMPELHOF GM  19310102   107 -9999 -9999
2       GHCND:GME00111445  BERLIN TEMPELHOF GM  19310103 -9999 -9999 -9999
3       GHCND:GME00111445  BERLIN TEMPELHOF GM  19310105    13 -9999 -9999
4       GHCND:GME00111445  BERLIN TEMPELHOF GM  19310106 -9999 -9999 -9999
5       GHCND:GME00111445  BERLIN TEMPELHOF GM  19310107    10 -9999 -9999
6       GHCND:GME00111445  BERLIN TEMPELHOF GM  19310108    13 -9999 -9999
7       GHCND:GME00111445  BERLIN TEMPELHOF GM  19310109    10 -9999 -9999
8       GHCND:GME00111445  BERLIN TEMPELHOF GM  19310110 -9999 -9999 -9999
9       GHCND:GME00111445  BERLIN TEMPELHOF GM  19310112 -9999 -9999 -9999
10      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310113    13 -9999 -9999
11      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310114    15 -9999 -9999
12      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310115    13 -9999 -9999
13      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310116   150 -9999 -9999
14      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310117    79 -9999 -9999
15      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310119 -9999 -9999 -9999
16      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310120 -9999 -9999 -9999
17      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310121    10 -9999 -9999
18      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310122 -9999 -9999 -9999
19      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310123 -9999 -9999 -9999
20      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310124    71 -9999 -9999
21      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310126 -9999 -9999 -9999
22      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310127 -9999 -9999 -9999
23      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310128 -9999 -9999 -9999
24      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310129    56 -9999 -9999
25      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310130 -9999 -9999 -9999
26      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310131    15 -9999 -9999
27      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310201    13 -9999 -9999
28      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310202 -9999 -9999 -9999
29      GHCND:GME00111445  BERLIN TEMPELHOF GM  19310203    13 -9999 -9999
...                   ...                  ...       ...   ...   ...   ...
117178  GHCND:GMM00010385        SCHONEFELD GM  19921202     0 -9999 -9999
117179  GHCND:GMM00010385        SCHONEFELD GM  19921203    48 -9999 -9999
117180  GHCND:GMM00010385        SCHONEFELD GM  19921204     3 -9999 -9999
117181  GHCND:GMM00010385        SCHONEFELD GM  19921205    48 -9999 -9999
117182  GHCND:GMM00010385        SCHONEFELD GM  19921206     0 -9999 -9999
117183  GHCND:GMM00010385        SCHONEFELD GM  19921207     0 -9999 -9999
117184  GHCND:GMM00010385        SCHONEFELD GM  19921208     0 -9999 -9999
117185  GHCND:GMM00010385        SCHONEFELD GM  19921209     0 -9999 -9999
117186  GHCND:GMM00010385        SCHONEFELD GM  19921210     0 -9999 -9999
117187  GHCND:GMM00010385        SCHONEFELD GM  19921211     0 -9999 -9999
117188  GHCND:GMM00010385        SCHONEFELD GM  19921212   117 -9999 -9999
117189  GHCND:GMM00010385        SCHONEFELD GM  19921213    28 -9999 -9999
117190  GHCND:GMM00010385        SCHONEFELD GM  19921214    66 -9999 -9999
117191  GHCND:GMM00010385        SCHONEFELD GM  19921215    23 -9999 -9999
117192  GHCND:GMM00010385        SCHONEFELD GM  19921216     0 -9999 -9999
117193  GHCND:GMM00010385        SCHONEFELD GM  19921217     0 -9999 -9999
117194  GHCND:GMM00010385        SCHONEFELD GM  19921218     0 -9999 -9999
117195  GHCND:GMM00010385        SCHONEFELD GM  19921219     0 -9999 -9999
117196  GHCND:GMM00010385        SCHONEFELD GM  19921220    66 -9999 -9999
117197  GHCND:GMM00010385        SCHONEFELD GM  19921221   142    10 -9999
117198  GHCND:GMM00010385        SCHONEFELD GM  19921222     0 -9999 -9999
117199  GHCND:GMM00010385        SCHONEFELD GM  19921223     0 -9999 -9999
117200  GHCND:GMM00010385        SCHONEFELD GM  19921224     0 -9999 -9999
117201  GHCND:GMM00010385        SCHONEFELD GM  19921225     0 -9999 -9999
117202  GHCND:GMM00010385        SCHONEFELD GM  19921226     0 -9999 -9999
117203  GHCND:GMM00010385        SCHONEFELD GM  19921227     0 -9999 -9999
117204  GHCND:GMM00010385        SCHONEFELD GM  19921228     0 -9999 -9999
117205  GHCND:GMM00010385        SCHONEFELD GM  19921229     0 -9999 -9999
117206  GHCND:GMM00010385        SCHONEFELD GM  19921230     0 -9999 -9999
117207  GHCND:GMM00010385        SCHONEFELD GM  19921231     3 -9999 -9999

        TMAX  TMIN  WDFG  PGTM  ...   WT09  WT07  WT01  WT06  WT05  WT04  \
0      -9999   -11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
1         50    11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
2         28    11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
3         39    11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
4          0   -22 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
5          0   -22 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
6         11   -28 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
7        -22   -61 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
8          0   -39 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
9         22   -11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
10         0   -22 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
11         0   -22 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
12       -11   -72 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
13        50   -11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
14        39 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
15        22   -22 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
16        22   -28 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
17         0   -28 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
18       -22   -61 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
19        61   -39 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
20        89    11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
21        39   -11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
22        39     0 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
23        39     0 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
24        11   -11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
25     -9999   -11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
26         0   -28 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
27        11   -22 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
28       -11   -50 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
29       -11 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
...      ...   ...   ...   ...  ...    ...   ...   ...   ...   ...   ...
117178    75    17 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117179   120 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117180    72 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117181    77 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117182    34 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117183    30 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117184    33    10 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117185 -9999    19 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117186 -9999 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117187    36 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117188    53    20 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117189    50    14 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117190 -9999    20 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117191    83 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117192    42   -20 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117193    34   -28 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117194    24   -30 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117195    40   -10 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117196    34 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117197 -9999 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117198    13 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117199   -20 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117200   -26 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117201 -9999 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117202   -36  -120 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117203    10   -95 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117204   -16 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117205 -9999 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117206 -9999   -37 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999
117207    -7 -9999 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999

        WT16  WT08  WT18  WT03
0      -9999 -9999 -9999 -9999
1      -9999 -9999 -9999 -9999
2      -9999 -9999 -9999 -9999
3      -9999 -9999 -9999 -9999
4      -9999 -9999 -9999 -9999
5      -9999 -9999 -9999 -9999
6      -9999 -9999 -9999 -9999
7      -9999 -9999 -9999 -9999
8      -9999 -9999 -9999 -9999
9      -9999 -9999 -9999 -9999
10     -9999 -9999 -9999 -9999
11     -9999 -9999 -9999 -9999
12     -9999 -9999 -9999 -9999
13     -9999 -9999 -9999 -9999
14     -9999 -9999 -9999 -9999
15     -9999 -9999 -9999 -9999
16     -9999 -9999 -9999 -9999
17     -9999 -9999 -9999 -9999
18     -9999 -9999 -9999 -9999
19     -9999 -9999 -9999 -9999
20     -9999 -9999 -9999 -9999
21     -9999 -9999 -9999 -9999
22     -9999 -9999 -9999 -9999
23     -9999 -9999 -9999 -9999
24     -9999 -9999 -9999 -9999
25     -9999 -9999 -9999 -9999
26     -9999 -9999 -9999 -9999
27     -9999 -9999 -9999 -9999
28     -9999 -9999 -9999 -9999
29     -9999 -9999 -9999 -9999
...      ...   ...   ...   ...
117178 -9999 -9999 -9999 -9999
117179 -9999 -9999 -9999 -9999
117180 -9999 -9999 -9999 -9999
117181 -9999 -9999 -9999 -9999
117182 -9999 -9999 -9999 -9999
117183 -9999 -9999 -9999 -9999
117184 -9999 -9999 -9999 -9999
117185 -9999 -9999 -9999 -9999
117186 -9999 -9999 -9999 -9999
117187 -9999 -9999 -9999 -9999
117188 -9999 -9999 -9999 -9999
117189 -9999 -9999 -9999 -9999
117190 -9999 -9999 -9999 -9999
117191 -9999 -9999 -9999 -9999
117192 -9999 -9999 -9999 -9999
117193 -9999 -9999 -9999 -9999
117194 -9999 -9999 -9999 -9999
117195 -9999 -9999 -9999 -9999
117196 -9999 -9999 -9999 -9999
117197 -9999 -9999 -9999 -9999
117198 -9999 -9999 -9999 -9999
117199 -9999 -9999 -9999 -9999
117200 -9999 -9999 -9999 -9999
117201 -9999 -9999 -9999 -9999
117202 -9999 -9999 -9999 -9999
117203 -9999 -9999 -9999 -9999
117204 -9999 -9999 -9999 -9999
117205 -9999 -9999 -9999 -9999
117206 -9999 -9999 -9999 -9999
117207 -9999 -9999 -9999 -9999

[117208 rows x 21 columns]>

Get the row and column name from the data. Change the name from any of the above file and store the changes made permanently. Change the names of multiple columns.

In [10]:
np.array(df.index)

array([   0,    1,    2, ..., 4653, 4654, 4655], dtype=int64)

In [11]:
np.array(df1.index)

array([     0,      1,      2, ..., 117205, 117206, 117207], dtype=int64)

In [12]:
df.columns

Index(['Indicator', 'PUBLISH STATES', 'Year', 'WHO region',
       'World Bank income group', 'Country', 'Sex', 'Display Value', 'Numeric',
       'Low', 'High', 'Comments'],
      dtype='object')

In [13]:
df.rename(columns={"Indicator":"Indicator Id"},inplace=True)

In [14]:
df.columns

Index(['Indicator Id', 'PUBLISH STATES', 'Year', 'WHO region',
       'World Bank income group', 'Country', 'Sex', 'Display Value', 'Numeric',
       'Low', 'High', 'Comments'],
      dtype='object')

In [16]:
df.rename(columns={"PUBLISH STATES":"Publication states","WHO region":"WHO Region"},inplace=True)

In [18]:
df.columns

Index(['Indicator Id', 'Publication states', 'Year', 'WHO Region',
       'World Bank income group', 'Country', 'Sex', 'Display Value', 'Numeric',
       'Low', 'High', 'Comments'],
      dtype='object')

# In following commond, Year column has been arraned in ascending order.

In [19]:
df.sort_values(["Year"], ascending=True)

,Indicator Id,Publication states,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1270,Life expectancy at birth (years),Published,1990,Europe,High-income,Germany,Male,72,72.0,NaN,NaN,NaN
3193,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,65,65.0,NaN,NaN,NaN
3194,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,68,68.0,NaN,NaN,NaN
3197,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,15,15.0,NaN,NaN,NaN
1264,Life expectancy at birth (years),Published,1990,Europe,High-income,Cyprus,Both sexes,76,76.0,NaN,NaN,NaN
3199,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,17,17.0,NaN,NaN,NaN
1262,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,17,17.0,NaN,NaN,NaN
1259,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,67,67.0,NaN,NaN,NaN
3203,Life expectancy at age 60 (years),Published,1990,South-East Asia,Lower-middle-income,Maldives,Female,12,12.0,NaN,NaN,NaN
1273,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Denmark,Both sexes,20,20.0,NaN,NaN,NaN
3204,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Marshall Islands,Female,65,65.0,NaN,NaN,NaN
1253,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Both sexes,73,73.0,NaN,NaN,NaN
1247,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Bahamas,Male,17,17.0,NaN,NaN,NaN
3219,Life expectancy at age 60 (years),Published,1990,Western Pacific,Lower-middle-income,Vanuatu,Both sexes,16,16.0,NaN,NaN,NaN
3226,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Bulgaria,Both sexes,71,71.0,NaN,NaN,NaN
1240,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Belgium,Female,23,23.0,NaN,NaN,NaN
1239,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Both sexes,76,76.0,NaN,NaN,NaN
1238,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Female,79,79.0,NaN,NaN,NaN
1237,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Both sexes,76,76.0,NaN,NaN,NaN
1236,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Male,72,72.0,NaN,NaN,NaN
3207,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Mongolia,Female,64,64.0,NaN,NaN,NaN
3231,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Belarus,Female,76,76.0,NaN,NaN,NaN
3188,Life expectancy at age 60 (years),Published,1990,Africa,Lower-middle-income,Lesotho,Female,17,17.0,NaN,NaN,NaN
1277,Life expectancy at birth (years),Published,1990,Europe,High-income,Estonia,Both sexes,70,70.0,NaN,NaN,NaN
1302,Life expectancy at birth (years),Published,1990,Europe,High-income,Hungary,Male,65,65.0,NaN,NaN,NaN
3158,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Georgia,Male,67,67.0,NaN,NaN,NaN
1300,Life expectancy at birth (years),Published,1990,Europe,High-income,Croatia,Male,69,69.0,NaN,NaN,NaN
3159,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Georgia,Both sexes,19,19.0,NaN,NaN,NaN
3160,Life expectancy at age 60 (years),Published,1990,Americas,Lower-middle-income,Guatemala,Female,19,19.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3175,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,19,19.0,NaN,NaN,NaN
3174,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Female,76,76.0,NaN,NaN,NaN
1285,Life expectancy at birth (years),Published,2012,Europe,High-income,France,Both sexes,82,82.0,NaN,NaN,NaN
1286,Life expectancy at age 60 (years),Published,2012,Europe,High-income,France,Both sexes,25,25.0,NaN,NaN,NaN
3171,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,72,72.0,NaN,NaN,NaN
1288,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Female,25,25.0,NaN,NaN,NaN
1290,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Both sexes,24,24.0,NaN,NaN,NaN
1292,Life expectancy at birth (years),Published,2012,Africa,High-income,Equatorial Guinea,Female,57,57.0,NaN,NaN,NaN
3166,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Honduras,Male,21,21.0,NaN,NaN,NaN
3165,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Honduras,Both sexes,74,74.0,NaN,NaN,NaN
3163,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Guyana,Male,13,13.0,NaN,NaN,NaN
3162,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Guyana,Female,67,67.0,NaN,NaN,NaN
1301,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Croatia,Both sexes,21,21.0,NaN,NaN,NaN
3137,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cameroon,Male,55,55.0,NaN,NaN,NaN
1303,Life expectancy at birth (years),Published,2012,Europe,High-income,Hungary,Both sexes,75,75.0,NaN,NaN,NaN
3155,Life expectancy at birth (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,68,68.0,NaN,NaN,NaN
3154,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Egypt,Male,16,16.0,NaN,NaN,NaN
1304,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Hungary,Both sexes,20,20.0,NaN,NaN,NaN
1306,Life expectancy at birth (years),Published,2012,Europe,High-income,Ireland,Female,83,83.0,NaN,NaN,NaN
3150,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Ecuador,Male,21,21.0,NaN,NaN,NaN
3148,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Ecuador,Female,78,78.0,NaN,NaN,NaN
3147,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,17,17.0,NaN,NaN,NaN
3146,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Both sexes,61,61.0,NaN,NaN,NaN
3145,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,63,63.0,NaN,NaN,NaN
1309,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Ireland,Female,25,25.0,NaN,NaN,NaN
1316,Life expectancy at birth (years),Published,2012,Europe,High-income,Italy,Both sexes,83,83.0,NaN,NaN,NaN
3141,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cabo Verde,Both sexes,74,74.0,NaN,NaN,NaN
3139,Life expectancy at age 60 (years),Published,2012,Africa,Lower-middle-income,Cameroon,Female,17,17.0,NaN,NaN,NaN
3156,Life expectancy at age 60 (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,16,16.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

# To make multiple column in ascending order, lets convert the sequence of columns in expected form

In [24]:
df.sort_values(["Year","Country", "WHO Region","Publication states","Display Value","Numeric"], ascending=True)

,Country,Indicator Id,Publication states,Year,WHO Region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
2959,Afghanistan,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,Low-income,Male,13,13.0,NaN,NaN,NaN
1395,Afghanistan,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,Low-income,Both sexes,14,14.0,NaN,NaN,NaN
555,Afghanistan,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,Low-income,Female,15,15.0,NaN,NaN,NaN
554,Afghanistan,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Both sexes,49,49.0,NaN,NaN,NaN
965,Afghanistan,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Male,49,49.0,NaN,NaN,NaN
1792,Afghanistan,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Female,50,50.0,NaN,NaN,NaN
3114,Albania,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Male,15,15.0,NaN,NaN,NaN
1522,Albania,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Both sexes,16,16.0,NaN,NaN,NaN
1931,Albania,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Female,18,18.0,NaN,NaN,NaN
299,Albania,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Male,67,67.0,NaN,NaN,NaN
689,Albania,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Both sexes,69,69.0,NaN,NaN,NaN
3113,Albania,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Female,71,71.0,NaN,NaN,NaN
3257,Algeria,Life expectancy at age 60 (years),Published,1990,Africa,Upper-middle-income,Male,16,16.0,NaN,NaN,NaN
2511,Algeria,Life expectancy at age 60 (years),Published,1990,Africa,Upper-middle-income,Both sexes,17,17.0,NaN,NaN,NaN
3259,Algeria,Life expectancy at age 60 (years),Published,1990,Africa,Upper-middle-income,Female,18,18.0,NaN,NaN,NaN
2510,Algeria,Life expectancy at birth (years),Published,1990,Africa,Upper-middle-income,Male,66,66.0,NaN,NaN,NaN
2145,Algeria,Life expectancy at birth (years),Published,1990,Africa,Upper-middle-income,Both sexes,68,68.0,NaN,NaN,NaN
4358,Algeria,Life expectancy at birth (years),Published,1990,Africa,Upper-middle-income,Female,69,69.0,NaN,NaN,NaN
820,Andorra,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Male,19,19.0,NaN,NaN,NaN
1229,Andorra,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Both sexes,22,22.0,NaN,NaN,NaN
1639,Andorra,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Female,24,24.0,NaN,NaN,NaN
818,Andorra,Life expectancy at birth (years),Published,1990,Europe,High-income,Male,74,74.0,NaN,NaN,NaN
0,Andorra,Life expectancy at birth (years),Published,1990,Europe,High-income,Both sexes,77,77.0,NaN,NaN,NaN
2799,Andorra,Life expectancy at birth (years),Published,1990,Europe,High-income,Female,81,81.0,NaN,NaN,NaN
686,Angola,Life expectancy at age 60 (years),Published,1990,Africa,Lower-middle-income,Male,13,13.0,NaN,NaN,NaN
1519,Angola,Life expectancy at age 60 (years),Published,1990,Africa,Lower-middle-income,Both sexes,14,14.0,NaN,NaN,NaN
3110,Angola,Life expectancy at age 60 (years),Published,1990,Africa,Lower-middle-income,Female,14,14.0,NaN,NaN,NaN
1515,Angola,Life expectancy at birth (years),Published,1990,Africa,Lower-middle-income,Male,41,41.0,NaN,NaN,NaN
3108,Angola,Life expectancy at birth (years),Published,1990,Africa,Lower-middle-income,Both sexes,43,43.0,NaN,NaN,NaN
1084,Angola,Life expectancy at birth (years),Published,1990,Africa,Lower-middle-income,Female,45,45.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
286,Viet Nam,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Male,71,71.0,NaN,NaN,NaN
669,Viet Nam,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Both sexes,76,76.0,NaN,NaN,NaN
1073,Viet Nam,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Female,80,80.0,NaN,NaN,NaN
1077,Yemen,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Low-income,Male,15,15.0,NaN,NaN,NaN
678,Yemen,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Low-income,Both sexes,16,16.0,NaN,NaN,NaN
1921,Yemen,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Low-income,Female,17,17.0,NaN,NaN,NaN
3883,Yemen,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Male,54,54.0,NaN,NaN,NaN
4652,Yemen,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Both sexes,54,54.0,NaN,NaN,NaN
2424,Yemen,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Female,55,55.0,NaN,NaN,NaN
3098,Yemen,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Male,62,62.0,NaN,NaN,NaN
289,Yemen,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Both sexes,64,64.0,NaN,NaN,NaN
1076,Yemen,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Female,65,65.0,NaN,NaN,NaN
1924,Zambia,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Male,16,16.0,NaN,NaN,NaN
3102,Zambia,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Both sexes,17,17.0,NaN,NaN,NaN
680,Zambia,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Female,18,18.0,NaN,NaN,NaN
4260,Zambia,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Male,48,48.0,NaN,NaN,NaN
2796,Zambia,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Both sexes,49,49.0,NaN,NaN,NaN
3545,Zambia,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,50,50.0,NaN,NaN,NaN
3100,Zambia,Life expectancy at birth (years),Published,2012,Africa,Low-income,Male,55,55.0,NaN,NaN,NaN
292,Zambia,Life expectancy at birth (years),Published,2012,Africa,Low-income,Both sexes,57,57.0,NaN,NaN,NaN
679,Zambia,Life expectancy at birth (years),Published,2012,Africa,Low-income,Female,58,58.0,NaN,NaN,NaN
295,Zimbabwe,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Male,17,17.0,NaN,NaN,NaN
1927,Zimbabwe,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Both sexes,18,18.0,NaN,NaN,NaN
1514,Zimbabwe,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Female,19,19.0,NaN,NaN,NaN
4261,Zimbabwe,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Male,48,48.0,NaN,NaN,NaN
3546,Zimbabwe,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Both sexes,49,49.0,NaN,NaN,NaN
4655,Zimbabwe,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,51,51.0,NaN,NaN,NaN
3104,Zimbabwe,Life expectancy at birth (years),Published,2012,Africa,Low-income,Male,56,56.0,NaN,NaN,NaN
3106,Zimbabwe,Life expectancy at birth (years),Published,2012,Africa,Low-income,Both sexes,58,58.0,NaN,NaN,NaN
294,Zimbabwe,Life expectancy at birth (years),Published,2012,Africa,Low-income,Female,60,60.0,NaN,NaN,NaN

In [32]:
df[["Indicator Id", "Country", "Year", "WHO Region", "Publication states"]].head()

,Indicator Id,Country,Year,WHO Region,Publication states
0,Life expectancy at birth (years),Andorra,1990,Europe,Published
1,Life expectancy at birth (years),Andorra,2000,Europe,Published
2,Life expectancy at age 60 (years),Andorra,2012,Europe,Published
3,Life expectancy at age 60 (years),Andorra,2000,Europe,Published
4,Life expectancy at birth (years),United Arab Emirates,2012,Eastern Mediterranean,Published

# OR

In [39]:
ColTitles=["Indicator Id", "Country", "Year", "WHO Region", "Publication states"]
df.reindex(columns=ColTitles)

,Indicator Id,Country,Year,WHO Region,Publication states
0,Life expectancy at birth (years),Andorra,1990,Europe,Published
1,Life expectancy at birth (years),Andorra,2000,Europe,Published
2,Life expectancy at age 60 (years),Andorra,2012,Europe,Published
3,Life expectancy at age 60 (years),Andorra,2000,Europe,Published
4,Life expectancy at birth (years),United Arab Emirates,2012,Eastern Mediterranean,Published
5,Life expectancy at birth (years),Antigua and Barbuda,2000,Americas,Published
6,Life expectancy at age 60 (years),Antigua and Barbuda,1990,Americas,Published
7,Life expectancy at age 60 (years),Antigua and Barbuda,2012,Americas,Published
8,Life expectancy at birth (years),Australia,2012,Western Pacific,Published
9,Life expectancy at birth (years),Australia,2000,Western Pacific,Published
10,Life expectancy at birth (years),Australia,2012,Western Pacific,Published
11,Life expectancy at birth (years),Austria,2012,Europe,Published
12,Life expectancy at age 60 (years),Austria,2012,Europe,Published
13,Life expectancy at birth (years),Belgium,2012,Europe,Published
14,Life expectancy at birth (years),Bahrain,2000,Eastern Mediterranean,Published
15,Life expectancy at birth (years),Bahrain,1990,Eastern Mediterranean,Published
16,Life expectancy at age 60 (years),Bahrain,1990,Eastern Mediterranean,Published
17,Life expectancy at birth (years),Bahamas,2012,Americas,Published
18,Life expectancy at age 60 (years),Bahamas,2000,Americas,Published
19,Life expectancy at birth (years),Barbados,1990,Americas,Published
20,Life expectancy at age 60 (years),Barbados,2012,Americas,Published
21,Life expectancy at age 60 (years),Barbados,2012,Americas,Published
22,Life expectancy at age 60 (years),Brunei Darussalam,1990,Western Pacific,Published
23,Life expectancy at age 60 (years),Brunei Darussalam,2000,Western Pacific,Published
24,Life expectancy at age 60 (years),Brunei Darussalam,2012,Western Pacific,Published
25,Life expectancy at birth (years),Canada,2000,Americas,Published
26,Life expectancy at age 60 (years),Canada,2000,Americas,Published
27,Life expectancy at age 60 (years),Canada,1990,Americas,Published
28,Life expectancy at birth (years),Switzerland,1990,Europe,Published
29,Life expectancy at birth (years),Switzerland,2012,Europe,Published
...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Serbia,2012,Europe,Published
4627,Healthy life expectancy (HALE) at birth (years),Suriname,2012,Americas,Published
4628,Healthy life expectancy (HALE) at birth (years),Sweden,2012,Europe,Published
4629,Healthy life expectancy (HALE) at birth (years),Swaziland,2012,Africa,Published
4630,Healthy life expectancy (HALE) at birth (years),Seychelles,2000,Africa,Published
4631,Healthy life expectancy (HALE) at birth (years),Syrian Arab Republic,2000,Eastern Mediterranean,Published
4632,Healthy life expectancy (HALE) at birth (years),Chad,2012,Africa,Published
4633,Healthy life expectancy (HALE) at birth (years),Thailand,2000,South-East Asia,Published
4634,Healthy life expectancy (HALE) at birth (years),Thailand,2000,South-East Asia,Published
4635,Healthy life expectancy (HALE) at birth (years),Tajikistan,2000,Europe,Published
4636,Healthy life expectancy (HALE) at birth (years),Tajikistan,2012,Europe,Published
4637,Healthy life expectancy (HALE) at birth (years),Tonga,2012,Western Pacific,Published
4638,Healthy life expectancy (HALE) at birth (years),Trinidad and Tobago,2012,Americas,Published
4639,Healthy life expectancy (HALE) at birth (years),Trinidad and Tobago,2012,Americas,Published
4640,Healthy life expectancy (HALE) at birth (years),Tunisia,2000,Eastern Mediterranean,Published
4641,Healthy life expectancy (HALE) at birth (years),Tuvalu,2012,Western Pacific,Published
4642,Healthy life expectancy (HALE) at birth (years),Uganda,2000,Africa,Published
4643,Healthy life expectancy (HALE) at birth (years),Ukraine,2000,Europe,Published
4644,Healthy life expectancy (HALE) at birth (years),Uruguay,2012,Americas,Published
4645,Healthy life expectancy (HALE) at birth (years),Uruguay,2012,Americas,Published
4646,Healthy life expectancy (HALE) at birth (years),Uruguay,2012,Americas,Published
4647,Healthy life expectancy (HALE) at birth (years),Saint Vincent and the Grenadines,2000,Americas,Published
4648,Healthy life expectancy (HALE) at birth (years),Venezuela (Bolivarian Republic of),2012,Americas,Published
4649,Healthy life expectancy (HALE) at birth (years),Vanuatu,2000,Western Pacific,Published
4650,Healthy life expectancy (HALE) at birth (years),Samoa,2012,Western Pacific,Published
4651,Healthy life expectancy (HALE) at birth (years),Samoa,2012,Western Pacific,Published
4652,Healthy life expectancy (HALE) at birth (years),Yemen,2012,Eastern Mediterranean,Published
4653,Healthy life expectancy (HALE) at birth (years),South Africa,2000,Africa,Published
4654,Healthy life expectancy (HALE) at birth (years),Zambia,2000,Africa,Published
4655,Healthy life expectancy (HALE) at birth (years),Zimbabwe,2012,Africa,Published

In [33]:
cols = df.columns.tolist()

In [34]:
cols=ColTitles]

['Country',
 'Indicator Id',
 'Publication states',
 'Year',
 'WHO Region',
 'World Bank income group',
 'Sex',
 'Display Value',
 'Numeric',
 'Low',
 'High',
 'Comments']

Modified sequence of columns, Make "Country as the first column"

In [35]:
df = df[['Country','Indicator Id',
 'Publication states',
 'Year',
 'WHO Region',
 'World Bank income group', 
 'Sex',
 'Display Value',
 'Numeric',
 'Low',
 'High',
 'Comments']]
df.head()

,Country,Indicator Id,Publication states,Year,WHO Region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
0,Andorra,Life expectancy at birth (years),Published,1990,Europe,High-income,Both sexes,77,77.0,NaN,NaN,NaN
1,Andorra,Life expectancy at birth (years),Published,2000,Europe,High-income,Both sexes,80,80.0,NaN,NaN,NaN
2,Andorra,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,28,28.0,NaN,NaN,NaN
3,Andorra,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Both sexes,23,23.0,NaN,NaN,NaN
4,United Arab Emirates,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,Female,78,78.0,NaN,NaN,NaN

In [36]:
df

,Country,Indicator Id,Publication states,Year,WHO Region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
0,Andorra,Life expectancy at birth (years),Published,1990,Europe,High-income,Both sexes,77,77.0,NaN,NaN,NaN
1,Andorra,Life expectancy at birth (years),Published,2000,Europe,High-income,Both sexes,80,80.0,NaN,NaN,NaN
2,Andorra,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,28,28.0,NaN,NaN,NaN
3,Andorra,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Both sexes,23,23.0,NaN,NaN,NaN
4,United Arab Emirates,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,Female,78,78.0,NaN,NaN,NaN
5,Antigua and Barbuda,Life expectancy at birth (years),Published,2000,Americas,High-income,Male,72,72.0,NaN,NaN,NaN
6,Antigua and Barbuda,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Male,17,17.0,NaN,NaN,NaN
7,Antigua and Barbuda,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Both sexes,22,22.0,NaN,NaN,NaN
8,Australia,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Male,81,81.0,NaN,NaN,NaN
9,Australia,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Both sexes,80,80.0,NaN,NaN,NaN
10,Australia,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Both sexes,83,83.0,NaN,NaN,NaN
11,Austria,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
12,Austria,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,25,25.0,NaN,NaN,NaN
13,Belgium,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
14,Bahrain,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Male,73,73.0,NaN,NaN,NaN
15,Bahrain,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Female,74,74.0,NaN,NaN,NaN
16,Bahrain,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Male,17,17.0,NaN,NaN,NaN
17,Bahamas,Life expectancy at birth (years),Published,2012,Americas,High-income,Male,72,72.0,NaN,NaN,NaN
18,Bahamas,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Both sexes,21,21.0,NaN,NaN,NaN
19,Barbados,Life expectancy at birth (years),Published,1990,Americas,High-income,Male,71,71.0,NaN,NaN,NaN
20,Barbados,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Female,25,25.0,NaN,NaN,NaN
21,Barbados,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Both sexes,23,23.0,NaN,NaN,NaN
22,Brunei Darussalam,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Female,20,20.0,NaN,NaN,NaN
23,Brunei Darussalam,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Female,22,22.0,NaN,NaN,NaN
24,Brunei Darussalam,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Female,21,21.0,NaN,NaN,NaN
25,Canada,Life expectancy at birth (years),Published,2000,Americas,High-income,Female,82,82.0,NaN,NaN,NaN
26,Canada,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Male,21,21.0,NaN,NaN,NaN
27,Canada,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Female,24,24.0,NaN,NaN,NaN
28,Switzerland,Life expectancy at birth (years),Published,1990,Europe,High-income,Male,74,74.0,NaN,NaN,NaN
29,Switzerland,Life expectancy at birth (years),Published,2012,Europe,High-income,Both sexes,83,83.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Serbia,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Female,67,67.0,NaN,NaN,NaN
4627,Suriname,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4628,Sweden,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Both sexes,72,72.0,NaN,NaN,NaN
4629,Swaziland,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Female,47,47.0,NaN,NaN,NaN
4630,Seychelles,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,61,61.0,NaN,NaN,NaN
4631,Syrian Arab Republic,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Female,64,64.0,NaN,NaN,NaN
4632,Chad,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,44,44.0,NaN,NaN,NaN
4633,Thailand,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4634,Thailand,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Female,65,65.0,NaN,NaN,NaN
4635,Tajikistan,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Both sexes,56,56.0,NaN,NaN,NaN
4636,Tajikistan,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Female,60,60.0,NaN,NaN,NaN
4637,Tonga,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,61,61.0,NaN,NaN,NaN
4638,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Female,64,64.0,NaN,NaN,NaN
4639,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Both sexes,61,61.0,NaN,NaN,NaN
4640,Tunisia,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Male,63,63.0,NaN,NaN,NaN
4641,Tuvalu,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Male,57,57.0,NaN,NaN,NaN
4642,Uganda,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Female,40,40.0,NaN,NaN,NaN
4643,Ukraine,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Both sexes,60,60.0,NaN,NaN,NaN
4644,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Male,65,65.0,NaN,NaN,NaN
4645,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Female,70,70.0,NaN,NaN,NaN
4646,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,68,68.0,NaN,NaN,NaN
4647,Saint Vincent and the Grenadines,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Both sexes,61,61.0,NaN,NaN,NaN
4648,Venezuela (Bolivarian Republic of),Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4649,Vanuatu,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4650,Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Male,62,62.0,NaN,NaN,NaN
4651,Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,66,66.0,NaN,NaN,NaN
4652,Yemen,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Both sexes,54,54.0,NaN,NaN,NaN
4653,South Africa,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,49,49.0,NaN,NaN,NaN
4654,Zambia,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Both sexes,36,36.0,NaN,NaN,NaN
4655,Zimbabwe,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,51,51.0,NaN,NaN,NaN

# Subset row 11, 24, 37

In [58]:
df_newlist=df.iloc[[11, 24, 37]]

In [59]:
df_newlist

,Country,Indicator Id,Publication states,Year,WHO Region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
11,Austria,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
24,Brunei Darussalam,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Female,21,21.0,NaN,NaN,NaN
37,Cyprus,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,26,26.0,NaN,NaN,NaN

# Subset rows excluding 5,12,23 and 56.

In [88]:
df_newlist1=df.drop([5, 12, 23, 56])

In [89]:
df_newlist1

,Country,Indicator Id,Publication states,Year,WHO Region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
0,Andorra,Life expectancy at birth (years),Published,1990,Europe,High-income,Both sexes,77,77.0,NaN,NaN,NaN
1,Andorra,Life expectancy at birth (years),Published,2000,Europe,High-income,Both sexes,80,80.0,NaN,NaN,NaN
2,Andorra,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,28,28.0,NaN,NaN,NaN
3,Andorra,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Both sexes,23,23.0,NaN,NaN,NaN
4,United Arab Emirates,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,Female,78,78.0,NaN,NaN,NaN
6,Antigua and Barbuda,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Male,17,17.0,NaN,NaN,NaN
7,Antigua and Barbuda,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Both sexes,22,22.0,NaN,NaN,NaN
8,Australia,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Male,81,81.0,NaN,NaN,NaN
9,Australia,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Both sexes,80,80.0,NaN,NaN,NaN
10,Australia,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Both sexes,83,83.0,NaN,NaN,NaN
11,Austria,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
13,Belgium,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
14,Bahrain,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Male,73,73.0,NaN,NaN,NaN
15,Bahrain,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Female,74,74.0,NaN,NaN,NaN
16,Bahrain,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Male,17,17.0,NaN,NaN,NaN
17,Bahamas,Life expectancy at birth (years),Published,2012,Americas,High-income,Male,72,72.0,NaN,NaN,NaN
18,Bahamas,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Both sexes,21,21.0,NaN,NaN,NaN
19,Barbados,Life expectancy at birth (years),Published,1990,Americas,High-income,Male,71,71.0,NaN,NaN,NaN
20,Barbados,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Female,25,25.0,NaN,NaN,NaN
21,Barbados,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Both sexes,23,23.0,NaN,NaN,NaN
22,Brunei Darussalam,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Female,20,20.0,NaN,NaN,NaN
24,Brunei Darussalam,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Female,21,21.0,NaN,NaN,NaN
25,Canada,Life expectancy at birth (years),Published,2000,Americas,High-income,Female,82,82.0,NaN,NaN,NaN
26,Canada,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Male,21,21.0,NaN,NaN,NaN
27,Canada,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Female,24,24.0,NaN,NaN,NaN
28,Switzerland,Life expectancy at birth (years),Published,1990,Europe,High-income,Male,74,74.0,NaN,NaN,NaN
29,Switzerland,Life expectancy at birth (years),Published,2012,Europe,High-income,Both sexes,83,83.0,NaN,NaN,NaN
30,Switzerland,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Both sexes,23,23.0,NaN,NaN,NaN
31,Cook Islands,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Both sexes,76,76.0,NaN,NaN,NaN
32,Cook Islands,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Female,22,22.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Serbia,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Female,67,67.0,NaN,NaN,NaN
4627,Suriname,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4628,Sweden,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Both sexes,72,72.0,NaN,NaN,NaN
4629,Swaziland,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Female,47,47.0,NaN,NaN,NaN
4630,Seychelles,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,61,61.0,NaN,NaN,NaN
4631,Syrian Arab Republic,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Female,64,64.0,NaN,NaN,NaN
4632,Chad,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,44,44.0,NaN,NaN,NaN
4633,Thailand,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4634,Thailand,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Female,65,65.0,NaN,NaN,NaN
4635,Tajikistan,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Both sexes,56,56.0,NaN,NaN,NaN
4636,Tajikistan,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Female,60,60.0,NaN,NaN,NaN
4637,Tonga,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,61,61.0,NaN,NaN,NaN
4638,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Female,64,64.0,NaN,NaN,NaN
4639,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Both sexes,61,61.0,NaN,NaN,NaN
4640,Tunisia,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Male,63,63.0,NaN,NaN,NaN
4641,Tuvalu,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Male,57,57.0,NaN,NaN,NaN
4642,Uganda,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Female,40,40.0,NaN,NaN,NaN
4643,Ukraine,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Both sexes,60,60.0,NaN,NaN,NaN
4644,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Male,65,65.0,NaN,NaN,NaN
4645,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Female,70,70.0,NaN,NaN,NaN
4646,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,68,68.0,NaN,NaN,NaN
4647,Saint Vincent and the Grenadines,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Both sexes,61,61.0,NaN,NaN,NaN
4648,Venezuela (Bolivarian Republic of),Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4649,Vanuatu,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4650,Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Male,62,62.0,NaN,NaN,NaN
4651,Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,66,66.0,NaN,NaN,NaN
4652,Yemen,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Both sexes,54,54.0,NaN,NaN,NaN
4653,South Africa,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,49,49.0,NaN,NaN,NaN
4654,Zambia,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Both sexes,36,36.0,NaN,NaN,NaN
4655,Zimbabwe,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,51,51.0,NaN,NaN,NaN

Finished